* {
    margin: 0;
    padding: 0;
    border: none;
    outline-style: none;
    box-sizing: border-box;
    font-family: "abcfont";
    user-select: none;
    /* 禁止拖拽 */
    -webkit-user-drag: none;
}

@font-face {
    font-family: "abcfont";
    src: url("./zaozigongfangnaisiti.ttf");
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

i {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

input,
textarea,
select,
button {
    font-size: inherit;
    resize: none;
}

a,
a:focus,
a:hover {
    text-decoration: none !important;
    color: inherit;
    transition: all 0.3s ease;
}

html {
    font-size: 0.83vw;
    color: black;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    position: relative;
    line-height: 1;
    scroll-behavior: smooth;
    --themeColor: #62bfcc;
}

img {
    max-width: 100%;
    height: auto;
    transition: all 0.3s ease;
    display: block;
}

.clamp1,
.clamp2,
.clamp3,
.clamp4 {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.clamp2 {
    -webkit-line-clamp: 2;
}

.clamp3 {
    -webkit-line-clamp: 3;
}

.clamp4 {
    -webkit-line-clamp: 4;
}


/*左侧预约*/
.left-yy {
    position: absolute;
    top: 0;
    right: 100%;
    width: 24.48vw;
    height: 100%;
    background: url(../images/aside_yy.png) no-repeat 0 0;
    background-size: 100% auto;
    transform: translate(40%, 0);
    z-index: 20;
}

.left-yy a {
    position: absolute;
    top: 6.15vw;
    right: 2.71vw;
    width: 5.63vw;
    height: 13.33vw;
    background: url(../images/aside_yyBtn.png) no-repeat;
    background-size: 100% 100%;
}

.left-yy a:hover {
    background-image: url(../images/aside_yyBtn2.png);
}


/* 下一页按钮 */
a.next-page {
    position: absolute;
    right: 1.56vw;
    bottom: 2.08vw;
    z-index: 20;
}

a.next-page img {
    height: 4.06vw;
    width: auto;
}

a.next-page:hover img {
    transform: scale(1.05);
}


a.to-top {
    position: fixed;
    right: 15.10vw;
    bottom: 0;
    z-index: 99;
}

a.to-top img {
    width: 3.54vw;
    height: auto;
}