.header {
    background: #1d1d1d ;
    color: #aaaaaa;
    padding: 0 1.56vw 0 6.77vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.43vw;
    z-index: 99;
}

.header .logo img {
    width: 4.69vw;
}

.header ul.menu {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-43%);
}

.header ul.menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 4.43vw;
    font-size: 0.94vw;
}

.header ul.menu a:hover {
    color: white;
}

.header a.aki-music img {
    width: 2.71vw;
    height: 2.71vw;
}

.header a.aki-music img.open,
.header a.aki-music.active img.close {
    display: none;
}

.header a.aki-music img.close,
.header a.aki-music.active img.open {
    display: block;
}


/* 首页样式 */
.index-banner {
    position: relative;
}

.index-banner video {
    display: block;
    width: 100%;
    height: calc(100vh - 4.43vw);
    object-fit: cover;
}

.index-banner img.indexNet {
    position: absolute;
    left: 2.60vw;
    bottom: 6.25vw;
    z-index: 2;
    width: 8.96vw;
    height: auto;
}

.index-banner .guide {
    position: absolute;
    right: 1.56vw;
    bottom: 6.25vw;
    z-index: 2;
}

.index-banner .guide img {
    height: 3.44vw;
    width: auto;
}
/*鼠标悬停则放大1.05倍*/
.index-banner .guide:hover img {
    transform: scale(1.05);
}

.index-banner .content-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10.42vw;
    z-index: 2;
}

.index-banner .content-box a.link1 {
    display: block;
    width: 28.85vw;
    height: 7.66vw;
    background-image: url(../images/banner-link11.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.index-banner .content-box a.link1:hover {
    transform: scale(1.05);
}

.index-banner .content-box a.link2 {
    position: absolute;
    right: -3.65vw;
    top: -3.13vw;
    width: 7.81vw;
    height: 5.21vw;
    background-image: url(../images/banner-link21.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: none;
}

.index-banner .content-box a.link2:hover {
    background-image: url(../images/banner-link22.png);
}

.index-banner .content-box a.link2 img {
    width: 2.50vw;
    height: 2.50vw;
    transition: none;
}

.index-banner .content-box a.link2:hover img {
    display: none;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5.21vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1d1d1d url(../images/footer.png) no-repeat bottom center;
    background-size: auto 100%;
    padding: 0 1.56vw 0 2.34vw;
}

.footer .app-all {
    display: flex;
    align-items: center;
}

.footer .app-all a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.60vw;
    height: 2.60vw;
    border-radius: 50%;
    border: 0.15vw solid #c1c1c1;
    margin-right: 0.78vw;
    color: #c1c1c1;
}

.footer .app-all a:hover {
    color: var(--themeColor);
    border-color: var(--themeColor);
}

.footer .app-all a .iconfont {
    font-size: 1.56vw;
}

.footer .neverness img {
    height: 3.33vw;
    width: auto;
}

.footer .neverness:hover img {
    transform: scale(1.05);
}



/* 角色介绍 */
.page-character {
    position: relative;
    height: calc(100vh - 4.43vw);
    overflow: hidden;
}

.page-character .swiper-slide {
    position: relative;
}

.page-character video {
    display: block;
    width: 100%;
    height: calc(100vh - 4.43vw);
    object-fit: cover;
}

.page-character .aki-item {
    position: absolute;
    bottom: 6.77vw;
    width: 45.31vw;
    z-index: 2;
}

.page-character .aki-item .b-title {
    position: relative;
    margin-bottom: 3.65vw;
    margin-left: 11.98vw;
}

.page-character .aki-item .b-title .img1 {
    height: 6.25vw;
    width: auto;
}

.page-character .aki-item .b-title .img2 {
    height: 2.71vw;
    width: auto;
    position: absolute;
    top: 0.10vw;
    left: 13.02vw;
}

.page-character .aki-item .name img {
    height: 9.48vw;
    width: auto;
    margin-left: 11.98vw;
}

.page-character .aki-item .lines img {
    height: 4.17vw;
    width: auto;
    margin-left: 11.77vw;
    margin-top: 1.56vw;
}

.page-character .aki-item .content {
    position: relative;
    margin-top: 1.04vw;
    border-top: 0.05vw solid #636363;
    padding: 0.52vw 0 0.52vw 11.98vw;
    color: #afafaf;
    line-height: 1.5;
    font-size: 0.73vw;
}

/* 角色介绍小图 */
.page-character .swiper_small {
    position: absolute;
    left: 11.98vw;
    bottom: 2.60vw;
    width: 26.98vw;
    z-index: 10;
}

.page-character .swiper_small .role {
    width: 100%;
    height: 3.91vw;
    background-image: url(../images/role_bullet1.png);
    background-repeat: no-repeat;
    background-size: 100% 200%;
    background-position: top center;
    cursor: pointer;
}

.page-character .swiper_small .role2 {
    background-image: url(../images/role_bullet2.png);
}

.page-character .swiper_small .role3 {
    background-image: url(../images/role_bullet3.png);
}

.page-character .swiper_small .role:hover,
.page-character .swiper_small .swiper-slide-thumb-active .role {
    background-position: bottom center;
}
